# Supabase credentials
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key

# Google Gemini API credentials
GOOGLE_API_KEY=your_google_api_key

# Embedding model
EMBEDDING_MODEL=models/embedding-001

# Vector dimensions for Gemini embeddings (default for models/embedding-001)
EMBEDDING_DIMENSION=768

# Vector Collection Name
COLLECTION_NAME=book_pages 